@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html, body {
    background-color: #11111b;
    min-height: 100vh;
}
body {
    font-family: 'Fira Code', monospace;
    background-color: #11111b;
    width: 100%;
    height: 100%;
    margin: -5px;
}

.terminal {
    padding: 10px;
    margin: 20px;
    background-color: #1e1e2e;

}