@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    background-color: #11111b;
}

.terminal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 98vh;
}
.terminal {
    position: relative;
    background-color: #1e1e2e;
    padding: 20px;
    border-radius: 5px;
    height: 85vh;
    width: 90vw;
    color: #cdd6f4;
}

.terminal-output {
    color: #94e2d5;
}

label {
    flex-wrap: nowrap;
}
.command-input-container {
    display: flex;
}
.input-field-container {
    margin-left: 5px;
    flex: 2;
}
.command-input,
.command-input:focus,
.command-input:active {
    background-color: transparent;
    color: #b4befe;
    border: none;
    outline: none !important;
    background-color: transparent;
    appearance: none;
    display: inline-block;
    font-size: 20px;
}